.div{
    display: flex;
}
.div1{
    width:32%;
}
.first{
    background-color: blue;
    font-size: 65px;
    padding-top: 25px;
   padding-bottom: 30px;
   color: white;
    padding-left: 130px;

}
.second{
    background-color: rgb(0, 0, 77);
    color: white;
    padding-left: 130px;
    font-size: 30px;
}
.but{
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 77);
border: 1px solid #2D8CFF;
padding: 4px 19px;
border-radius: 30px;
margin-top: 20px;
}

.div2{
    background-color: #2d8bffc5;
}